# This file remains a sample, used per default if nothing else found, but
# if you need to override it, please copy this file into the kernel root
# directorty 'config' directory.
# Read the documentation in Resources/docs/bundles.md

imports:
    - { resource: parameters.yml }

framework:
    #esi:             ~
    #translator:      { fallbacks: ["%locale%"] }
    #secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    session:         ~
    validation:      { enable_annotations: true }
    # templating:
    #     engines: ['twig']
    default_locale:  "%locale%"
    fragments:       ~
    http_method_override: true
    assets: ~

twig:
    debug:            "%kernel.debug%"
    path:             "%kernel.root_dir%/Resources/views"
    strict_variables: false
    form_themes:
        - "bootstrap_3_layout.html.twig"
        - "bootstrap_3_horizontal_layout.html.twig"
