# This file is deprecated and will be removed next version.
services:

  # Please note these are only partial overrides, when using Symfony full
  # stack framework you will inherit from many other things, that may not
  # always behave correctly.
  # As of now, nothing ever failed except the cache_warmer, we don't really
  # need because it can't work nicely with Drupal at this point.

  templating:
    public: true
    class: Symfony\Bundle\TwigBundle\TwigEngine
    arguments: ['@twig', '@templating.name_parser', '@templating.locator']

  templating.locator:
    public: true
    class: MakinaCorpus\Drupal\Sf\Templating\Loader\TemplateLocator
    arguments: ['@file_locator', '%kernel.cache_dir%']

  templating.loader.drupal:
    public: false
    class: MakinaCorpus\Drupal\Sf\Templating\Loader\DrupalTemplateLocator
    decorates: templating.locator
    arguments: ['@templating.loader.drupal.inner']

  templating.name_parser:
    public: false
    class: MakinaCorpus\Drupal\Sf\Templating\DrupalTemplateNameParser
    arguments: ['@kernel', '@templating.name_parser.legacy']

  templating.name_parser.legacy:
    public: false
    class: MakinaCorpus\Drupal\Sf\Templating\TemplateNameParser
    arguments: ['@kernel']

  twig.extension.drupal_date:
    public: false
    class: MakinaCorpus\Drupal\Sf\Twig\Extension\DrupalDateExtension
    tags: [{name: twig.extension}]

  twig.extension.drupal_profiler:
    public: false
    class: MakinaCorpus\Drupal\Sf\Twig\Extension\ProfilerExtension
    tags: [{name: twig.extension}]
